<div class="mx-5 my-5">
    <div>
        <div>
            <p class="fs-2 fw-bold">
                Porfolio
            </p>
            <p class="fs-5">
                Donec ullamcorper nulla con metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus
                magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div>

                <img src="../website/assets/img/big-project-image.png" class="card-img-top rounded-0" alt="foto">
                <div>
                    <p class="card-title text-primary mt-3 fs-4 fw-bold ">Project Name</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quam sapiente,
                        magnam esse mollitia quisquam quas blanditiis voluptatibus architecto quae ducimus.</p>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-sm-12">
            <div>
                <img src="../website/assets/img/big-project-image.png" class="card-img-top rounded-0" alt="foto">
                <div>
                    <p class="card-title text-primary mt-3 fs-4 fw-bold ">Project Name</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quam sapiente,
                        magnam esse mollitia quisquam quas blanditiis voluptatibus architecto quae ducimus.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div>
                <img src="../website/assets/img/big-project-image.png" class="card-img-top rounded-0" alt="foto">
                <div>
                    <p class="card-title text-primary mt-3 fs-4 fw-bold ">Project Name</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quam sapiente,
                        magnam esse mollitia quisquam quas blanditiis voluptatibus architecto quae ducimus.</p>
                </div>
            </div>
        </div>
    </div>
</div>