<div class="mx-5 my-5">
    <div>
        <div>
            <p class="fs-2 fw-bold">
                Porfolio
            </p>
            <p class="fs-5">
                Donec ullamcorper nulla con metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus
                magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div>

                    <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRJpHvKpd-HCJTvNl_aOjva_LCZD3AzVku-w7wFaAEmSOSLjdTl"
                    class="card-img-top rounded-0" alt="foto">
                <div>
                    <p class="card-title text-primary mt-3 fs-4 fw-bold ">Project Name</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quam sapiente,
                        magnam esse mollitia quisquam quas blanditiis voluptatibus architecto quae ducimus.</p>
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div>
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRJpHvKpd-HCJTvNl_aOjva_LCZD3AzVku-w7wFaAEmSOSLjdTl"
                    class="card-img-top rounded-0"  alt="foto">
                <div>
                   <p class="card-title text-primary mt-3 fs-4 fw-bold ">Project Name</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quam sapiente,
                        magnam esse mollitia quisquam quas blanditiis voluptatibus architecto quae ducimus.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div>
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRJpHvKpd-HCJTvNl_aOjva_LCZD3AzVku-w7wFaAEmSOSLjdTl"
                    class="card-img-top rounded-0" alt="foto">
                <div>
                   <p class="card-title text-primary mt-3 fs-4 fw-bold ">Project Name</p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quam sapiente,
                        magnam esse mollitia quisquam quas blanditiis voluptatibus architecto quae ducimus.</p>
                </div>
            </div>
        </div>
    </div>
</div>