<!-- your html code here -->
<div class="container ">

    <div class="row d-flex justify-content-center pt-3">

        <div class="col-md-4 pb-5">
            <div class="ratio ratio-1x1">
                <img src="https://img.freepik.com/foto-gratis/primer-plano-hombre-escritorio-escribiendo-teclado_482257-102053.jpg?semt=ais_incoming&w=740&q=80"
                    class="rounded-circle object-fit-cover w-100 h-100 " alt="imagen">
            </div>
        </div>

        <div class="col-8 pe-3 pt-4">
            <h1> The second heading is... <span class="text-secondary"> Pretty Cool Too</span></h1>
            <p class="h5 lh-base">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.</p>
        </div>
    </div>

</div>